doctype html
html(ng-app="checkers")
    head
        title Checkers
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="/css/main.css")
    body(layout="column")
        div(flex layout="row" ui-view="")
        script(src="/js/app.js")